body {
  font-family: "Poppins", sans-serif;
  background-color: #eef3f8;
  margin: 0;
  padding: 0;
}

.book-list {
  padding: 20px;
}

.books-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}


.book {
  width: 320px;
  height: 550px;
  perspective: 1000px;
  cursor: pointer;
}

.book-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.book.flipped .book-inner {
  transform: rotateY(180deg);
}

.book-front,
.book-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.book-back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.book-image {
  width: 100%;
  height: 270px;
  object-fit: cover;
  margin-bottom: 10px;
}


.book-back h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #4a90e2;
}

.book-back p {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 10px;
}


.favorite-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.favorite-section button {
  font-size: 26px;
  background: none;
  border: none;
  cursor: pointer;
}

.favorited-text {
  color: #2563eb;
  font-style: italic;
}


.book1 {
  background: linear-gradient(180deg, #ffffff, #f2f8ff);
}
.book2 {
  background: linear-gradient(180deg, #ffffff, #fff7ef);
}
.book3 {
  background: linear-gradient(180deg, #ffffff, #f5f3ff);
}
