body {
  font-family: "Poppins", sans-serif;
  background-color: #eef3f8;
  margin: 0;
  padding: 0;
}

.book-list {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}



.book-image {
  width: 100%;
  height: 270px;
  object-fit: cover;
  border-bottom: 2px solid #ddd;
  transition: transform 0.3s ease;
}

.book:hover .book-image {
  transform: scale(1.03);
}



.book1 {
  background: linear-gradient(180deg, #ffffff, #f2f8ff);
}

.book2 {
  background: linear-gradient(180deg, #ffffff, #fff7ef);
}

.book3 {
  background: linear-gradient(180deg, #ffffff, #f5f3ff);
}


